
### Minimum Sum of Four Digit Number After Splitting Digits

Only 2 digit number would produce the smallest result - For eg 9999 -> 99 + 99 = 198

So we just split the number into a list, sort the digits and then take first and third element as num1 and second and 4th element as num2

In [13]:
def minimumSum(num):
  map = [int(d) for d in str(num)]
  map.sort()
  num1 = map[0] * 10 + map[2]
  num2 = map[1] * 10 + map[3]
  return num1+num2

print(minimumSum(num = 2932))
print(minimumSum(num = 4009))
print(minimumSum(num = 9999))

52
13
198

TC = O(nlogn)